body { padding-top: 40px; padding-bottom: 40px; }

/* TABLE */
table .acao { width: 75px; }


/* BREACRUMB */
.breadcrumb .btn-breadcrumb::before { content: "" }


/* FORM */
form .buttons { text-align: center; border-top: 2px solid #999999; padding: 20px 0; margin-top: 50px; clear: both; }
form span.form-errors { display: block; color: #cc3300; font-size: 12px; margin-top: 5px; }

/* LOGIN */
.form-signin { max-width: 330px; padding: 15px; margin: 0 auto; }
.form-signin .form-signin-heading { margin-bottom: 10px; }
.form-signin .form-control { position: relative; height: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-size: 16px; }
.form-signin .form-control:focus { z-index: 2; }
.form-signin input[type="text"] { margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }

/* NAVBAR */
.navbar .btn-logout { margin-top: 10px; }